body{
    margin: 20px;
    background: linear-gradient(to right, #F1EAFF, rgb(140, 231, 245));
}

.img_logo{
    max-height:70px ;
    max-width: 100%;
}

.Main_heading,#main-content,.button,.button:hover,#nameInput,.data-table th,.student-text,.verified-font,.span2,.not-found,.popup-close-btn,.main-heading{
    font-family: 'Dancing Script', cursive;
font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Merriweather', serif;
font-family: 'Work Sans', sans-serif;
color: grey;
}

.display-layout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
}

.Main_heading{ 
    text-align: center;
    margin-top: 30px;
}

#main-content{ 
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nameInput{
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-label{
    font-weight: 600;
    color: #b043db;
    font-size: large;
}

.verified-font{
    display: inline;
    color:#1aac7b;
}

.verified-icon{
    color: #1aac7b;
    padding-right: 5px;
    font-size: x-large;
    /* height: 10px; */
}

.verified{
    margin: 20px;
}

#idInput{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    font-weight: 500;
    background-color: whitesmoke;
    border-color: grey;
}

.button{
    padding: 10px;
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
    border-color: lightblue;
    /* background: linear-gradient(to right, #B6FFFA, #0e8ff8); */
    background:linear-gradient(to right, #bd42b7, #00A9FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.span3{
    color: #191825;
}

.span2{
    color: #191825;
}

.span1{
    color: #191825;
}

.span4{
    color: #191825;
}

.span5{
    color: rgb(170, 34, 152);
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .main-heading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    background:linear-gradient(to right, rgb(199, 88, 221), #00A9FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .popup-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
  }
  
  .popup:target {
    display: block;
  }
  
  .close {
    display: block;
    text-decoration: none;
  }

.verified-company-logo{
    max-height: 40px;
    max-width: 50%;
}

.fa-circle-xmark{
    color: red;
    padding-top: 20px;
    padding-right: 5px;
    font-size: large;
}

.display-input{
    margin: 30px;
    padding: 10px;
    padding-bottom: 0px;
    border-bottom: 0px;
    /* border: 4px solid #BEADFA; */
    border-radius: 25px;
    min-height: 130px;
}

section{
    padding: 20px;
    border-radius: 20px;
    background-color: black;
}

.display-output{
    /* align-self: center; */
    background-color: black;
    margin-top: 40px;
    padding: 20px;
    padding-top: 0px;
    border-radius: 25px;
}

.table-container {
    border: 2px solid #A0E9FF;
    border-radius: 15px;
    overflow: hidden; /* Ensures the rounded corners are visible */
}

.not-found{
    display: inline;
    color: red;
}

.popup-close-btn{
    padding: 10px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 30px;
    color: black;
    background: linear-gradient(to left, #ffb6e1, #f80e0e);
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th {
    border: 1px solid #D0A2F7;
    padding: 10px;
    color: #00A9FF;
}

.student-text{
    color: #000000;
    border: 1px solid #D0A2F7;
    font-weight: bold;
    padding: 10px;
}
.student-text1{
    color: #ffffff;
    border: 1px solid #D0A2F7;
    font-weight: bold;
    padding: 10px;
}

.button:hover{
    cursor: pointer;
    border-radius: 10px;
    background:linear-gradient(to left, #CDF5FD, #00A9FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popup-text{
    border: 1px solid #D0A2F7;
    font-weight: 700;
    padding: 10px;
    color: black;
}

.cancel-popup{
    font-size: xx-large;
}

@media only screen and (max-width: 767px) {
    h1.Main_heading {
        padding-top: 0px;
        margin-top: 0px;
    }
    .main-heading{
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .display-layout{
        justify-content: center;
        flex-direction: column;
    }
    .display-output{
        align-self: center;
        justify-content: center;
    }
    .display-input{
        min-height: 0px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    h1.Main_heading {
        margin-top: 20px;
        
    }
    .main-heading{
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .display-layout{
        justify-content: center;
        flex-direction: column;
    }
    .display-output{
        align-self: center;
        justify-content: center;
    }
    .display-input{
        min-height: 300px;
    }
}

footer {
    background-color:transparent;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}