body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    max-height: 50px; /* Adjust the height of your logo */
}

#main-content {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    max-height: 50px; /* Adjust the height of your logo */
}

#main-content {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}

.error-message {
    color: red;
}
